USE [ok2]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/09/2022 13:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[categoryID] [nvarchar](10) NOT NULL,
	[categoryName] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (N'C001', N'Tieu Thuyet')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (N'C002', N'Sach Nau an')
INSERT [dbo].[Category] ([categoryID], [categoryName]) VALUES (N'C003', N'Sach Ky Nang Song')
/****** Object:  Table [dbo].[Account]    Script Date: 10/09/2022 13:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[userID] [varchar](20) NOT NULL,
	[password] [int] NOT NULL,
	[fullName] [nvarchar](50) NOT NULL,
	[roleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Account] ([userID], [password], [fullName], [roleID]) VALUES (N'a001', 123456, N'user01', 1)
INSERT [dbo].[Account] ([userID], [password], [fullName], [roleID]) VALUES (N'a002', 123456, N'user01', 0)
INSERT [dbo].[Account] ([userID], [password], [fullName], [roleID]) VALUES (N'dung123', 123456, N'user01', 0)
/****** Object:  Table [dbo].[Payment]    Script Date: 10/09/2022 13:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Payment](
	[paymentId] [int] IDENTITY(1,1) NOT NULL,
	[userID] [varchar](20) NOT NULL,
	[dateCreate] [date] NOT NULL,
	[totalPayment] [float] NOT NULL,
	[address] [nvarchar](50) NOT NULL,
	[phoneNumber] [varchar](20) NOT NULL,
	[status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[paymentId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON
INSERT [dbo].[Payment] ([paymentId], [userID], [dateCreate], [totalPayment], [address], [phoneNumber], [status]) VALUES (1, N'a002', CAST(0xB6420B00 AS Date), 360, N'123/45 q12 tphcm', N'0123456789', 1)
INSERT [dbo].[Payment] ([paymentId], [userID], [dateCreate], [totalPayment], [address], [phoneNumber], [status]) VALUES (2, N'a002', CAST(0xB6420B00 AS Date), 360, N'123/45 q12 tphcm', N'0123456789', 0)
INSERT [dbo].[Payment] ([paymentId], [userID], [dateCreate], [totalPayment], [address], [phoneNumber], [status]) VALUES (3, N'a002', CAST(0xB6420B00 AS Date), 304, N'4859 q9 tphcm', N'0100000012', 0)
SET IDENTITY_INSERT [dbo].[Payment] OFF
/****** Object:  Table [dbo].[Book]    Script Date: 10/09/2022 13:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Book](
	[bookId] [varchar](10) NOT NULL,
	[description] [nvarchar](250) NOT NULL,
	[price] [float] NULL,
	[bookName] [nvarchar](250) NOT NULL,
	[author] [nvarchar](250) NOT NULL,
	[yearOfProduction] [int] NULL,
	[quantity] [int] NULL,
	[bookImgURL] [varchar](50) NOT NULL,
	[categoryID] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[bookId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Book] ([bookId], [description], [price], [bookName], [author], [yearOfProduction], [quantity], [bookImgURL], [categoryID]) VALUES (N'B001', N'Đắc nhân tâm (được lòng người), tên tiếng Anh là How to Win Friends and Influence People là một quyển sách nhằm tự giúp bản thân (self-help) bán chạy nhất từ trước đến nay.', 350, N'Đắc Nhân Tâm', N'Dale Carnegie', 1980, 300, N'01.png', N'C003')
INSERT [dbo].[Book] ([bookId], [description], [price], [bookName], [author], [yearOfProduction], [quantity], [bookImgURL], [categoryID]) VALUES (N'B002', N'Great', 216, N'Trên Đường Băng', N'Tony', 2009, 46, N'02.png', N'C003')
INSERT [dbo].[Book] ([bookId], [description], [price], [bookName], [author], [yearOfProduction], [quantity], [bookImgURL], [categoryID]) VALUES (N'B003', N'Nice', 120, N'Tuổi Trẻ Đáng Giá Bao Nhiêu', N'Rosie Nguyễn', 2018, 45, N'03.png', N'C003')
/****** Object:  Table [dbo].[PaymentDetail]    Script Date: 10/09/2022 13:05:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentDetail](
	[paymentId] [int] NOT NULL,
	[bookId] [varchar](10) NOT NULL,
	[quantity] [int] NOT NULL,
	[subTotal] [float] NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[PaymentDetail] ([paymentId], [bookId], [quantity], [subTotal]) VALUES (1, N'B001', 1, 350)
INSERT [dbo].[PaymentDetail] ([paymentId], [bookId], [quantity], [subTotal]) VALUES (2, N'B001', 1, 350)
INSERT [dbo].[PaymentDetail] ([paymentId], [bookId], [quantity], [subTotal]) VALUES (3, N'B002', 1, 216)
/****** Object:  ForeignKey [FK__Book__categoryID__08EA5793]    Script Date: 10/09/2022 13:05:05 ******/
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([categoryID])
REFERENCES [dbo].[Category] ([categoryID])
GO
/****** Object:  ForeignKey [FK__Payment__userID__117F9D94]    Script Date: 10/09/2022 13:05:05 ******/
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[Account] ([userID])
GO
/****** Object:  ForeignKey [FK__PaymentDe__bookI__145C0A3F]    Script Date: 10/09/2022 13:05:05 ******/
ALTER TABLE [dbo].[PaymentDetail]  WITH CHECK ADD FOREIGN KEY([bookId])
REFERENCES [dbo].[Book] ([bookId])
GO
/****** Object:  ForeignKey [FK__PaymentDe__payme__1367E606]    Script Date: 10/09/2022 13:05:05 ******/
ALTER TABLE [dbo].[PaymentDetail]  WITH CHECK ADD FOREIGN KEY([paymentId])
REFERENCES [dbo].[Payment] ([paymentId])
GO
